<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js News</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+sans+Pro&display=swap"> -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            Node.js News
        </div>

        <%- include('./partials/Search.ejs') %>
    </header>

    <div class="wrapper">
        <div class="news-single">
            <% if(article != null) { %>
                <a href="/">&larr;- Back</a>
                    <h2><%- article.title.rendered %></h2>
                    <p><%- article.content.rendered %></p>
        
            <% } else { %> 

                No posts found.

            <% } %>
        </div>
    </div>

</body>
</html>